{
    "presets": [
        ["@babel/preset-env", {
            "targets": {
                "node": "current",
                "chrome": "60",
                "firefox": "55"
            }
        }]
    ]
  }
  