html
  head
    title Secure notes
    //- link(rel="stylesheet", href="/css/hack.css")
    //- link(rel="stylesheet", href="/css/dark-grey.css")
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/bootstrap-icons.css")
    link(rel="stylesheet", href="/css/summernote.min.css")
    link(rel="stylesheet", href="/css/styles.css")
    script(src="/js/jquery-3.5.1.slim.min.js")
    script(src="/js/bootstrap.bundle.min.js")
    script(src="/js/summernote.min.js")
    //- script(src="/js/summernote-es-ES.min.js")
    script(src="/js/utils.js")
  body
    header
      nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
        a.navbar-brand(href="/") Secure notes
        button.navbar-toggler(type="button", data-toggle="collapse", data-target="#mainNavbar", aria-controls="mainNavbar", aria-expanded="false", aria-label="Toggle navigation")
          span.navbar-toggler-icon
        #mainNavbar.collapse.navbar-collapse
          ul.navbar-nav.mr-auto
            li.nav-item.active
              a.nav-link(href="/send") Send note
    main.flex-shrink-0(role="main")
      .container
        if title
          h4 #{title}
          hr
        if error && error.message && error.type
          .alert.alert-dismissible.fade.show(class="alert-" + error.type, role="alert")
            | #{error.message}
            if error.close
              button.close(type="button", data-dismiss="alert", aria-label="Close")
                span(aria-hidden="true") &times;
        block content
